.App_container{
    flex-direction: row;
    position: sticky;
    overflow-y: scroll;
    margin-left: 40px;
}

.button1{
    padding-bottom: 20px;
}

.header{
    width: 980px;
    margin-top: 50px;
}
.header2{
    margin-top: 10px;
    margin-bottom: 20px;
}

.div_content{
    width: 980px;
}
