.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(77, 165, 233);
  position:sticky;
  }
  
  .sidebarWrapper {
    padding: 7px;
    color: #555;
  }

  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 15px;
    font-family: 'Segoe UI';
    color: rgb(14, 13, 13);
    padding: 10px;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }

  .sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    font-family: 'Segoe UI';
  }

  .sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
  }
