.jsonTable{

    

    .dataGrid{
        background: white;
        padding: 20px;
        position: relative;
    }

    .actiony{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(236, 236, 252);
        text-transform: lowercase;
    }
    
    

}

