.container{
    display: flex;
    margin-top: 10px;
    height: calc(100vh - 50px);
    top: 50px;
    position: fixed;
    max-width: max-content;
}

.sidebar{
    display: flex;
    position: fixed;
}

.link{
    text-decoration: none;
    color: inherit;
}

.Grid{
    position: sticky;
    margin-left: 250px;
    margin-top: 60px;
}